@media only screen and (max-width: 1200px){
    header {
        position: relative;
        background-color: #464646;
    }
    header .container {
        max-width: 100%;
        padding: 0 1.5em;
    }
    header .d_t_h {
        height: 64px;
    }
    header .logo img {
        height: 50px;
    }
    ul.desktop_menu {
        display: none !important;
    }
}
@media only screen and (min-width: 1200px){
    header .container {
        max-width: 1250px;
    }
    header .mobile_menu {
        display: none !important;
    }
    #main_content_2 h1 {
        font-size: 1.7em;
    }
    #rc_content_1 .mml_lg {
        margin-left: -100px;
    }
    #rc_mokki_block .big_img {
        max-width: initial !important;
        margin-left: -27%;
        width: 700px;
        position: relative;
        z-index: -1;
    }
    #rc_starbucks_block .big_img {
        max-width: initial !important;
        margin-right: -27%;
        width: 700px;
        position: relative;
        z-index: -1;
    }
}
@media only screen and (max-width: 992px){
    .bg_img .bg_img_text {
        bottom: 0;
    }
    #main_content_3, #main_content_5, #main_content_6 {
        padding-top: 0;
    }
}
@media only screen and (min-width: 992px){
    #rcr_content_1 .pt_lg_25p {
        padding-top: 25%;
    }
}
@media only screen and (max-width: 768px){
    .bg_img .bg_img_text h1 {
        font-size: 1.5em;
    }
    #main_content_2 h1 {
        font-size: 1.5em;
    }
    #main_content_4 .block_content {
        margin-top: 0;
    }
}
@media only screen and (max-width: 576px){
    header .mobile_dropdown_menu {
        min-width: 100vw;
    }
    .bg_img>img {
        height: 400px;
        object-fit: cover;
    }
    .fix_h_instead_bg {
        height: 80px;
    }
}
@media only screen and (max-width: 480px){
    .bg_img .bg_img_text h1 {
        font-size: 1.2em;
    }
    #main_content_2 h1 {
        font-size: 1.2em;
    }
}