.bg_gold {
  background-color: #bba36a !important; }

.text_gold {
  color: #bba36a !important; }

.bg_grey {
  background-color: #4a4a4a !important; }

.text_grey {
  color: #4a4a4a !important; }

.bg_black {
  background-color: #000000 !important; }

.text_black {
  color: #000000 !important; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RaleighLtBt';
  src: url("../fonts/raleigh/RaleighCLtBT.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Montserrat, sans-serif; }

.text_font {
  font-size: 13px;
  line-height: 1.5; }

.title_font {
  font-size: 2.2em;
  font-family: RaleighLtBt, sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 0; }

.bg_img {
  position: relative; }
  .bg_img .bg_img_text {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .bg_img .bg_img_text h1 {
      font-size: 1.7em;
      text-align: center;
      width: 100%;
      color: #bba36a; }

.block_content .block_text {
  margin: 20px 0;
  text-align: justify; }
.block_content .block_action a {
  text-decoration: underline; }
.block_content .block_actionBtn a {
  text-decoration: none !important;
  padding: 5px 15px;
  border: 1px solid; }

.fix_h_instead_bg {
  height: 150px; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent; }
  header .d_t_h {
    height: 140px; }
  header ul.desktop_menu {
    list-style-type: none;
    margin: 0;
    padding-left: 0; }
    header ul.desktop_menu li {
      display: inline-block;
      padding: 0 15px; }
      header ul.desktop_menu li a {
        font-size: 13px;
        font-weight: 300;
        color: #bba36a; }
        header ul.desktop_menu li a:hover {
          color: #8F7A4A;
          text-decoration: none; }
      header ul.desktop_menu li .dropdown_content {
        display: none;
        position: absolute;
        min-width: 160px;
        padding-top: 5px;
        z-index: 1; }
        header ul.desktop_menu li .dropdown_content a {
          display: block; }
    header ul.desktop_menu li.dropdown:hover .dropdown_content {
      display: block; }
    header ul.desktop_menu li.dropdown:hover .dropBtn {
      color: #8F7A4A; }
  header ul.lang_items {
    text-transform: uppercase; }
    header ul.lang_items li {
      display: block;
      padding: 0; }
  header .mobile_menu {
    position: relative; }
    header .mobile_menu .dropdown {
      display: inline-block;
      vertical-align: bottom;
      text-transform: uppercase; }
      header .mobile_menu .dropdown .btn {
        font-size: 13px;
        font-weight: 300;
        color: #bba36a; }
      header .mobile_menu .dropdown .dropdown-menu {
        min-width: inherit;
        font-size: 13px;
        font-weight: 300; }
        header .mobile_menu .dropdown .dropdown-menu .dropdown-item {
          color: #bba36a;
          padding: 4px 12px; }
    header .mobile_menu a#dropdownMenuLink {
      color: #bba36a; }
      header .mobile_menu a#dropdownMenuLink:hover {
        color: #bba36a; }
  header .mobile_dropdown_menu {
    display: none;
    position: absolute;
    top: 63px;
    left: 0;
    z-index: 100;
    font-size: 13px;
    min-width: 300px;
    background-color: #bba36a;
    border-radius: 0; }
    header .mobile_dropdown_menu .mobile_menu_item {
      padding: 0.75rem 1.5rem;
      display: block;
      width: 100%;
      clear: both;
      color: #fff;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      border: 0;
      cursor: pointer; }
      header .mobile_dropdown_menu .mobile_menu_item i {
        float: right; }
    header .mobile_dropdown_menu .mobile_menu_item._activated i {
      transform: rotateX(180deg); }
    header .mobile_dropdown_menu .menu_item_inner {
      display: none; }
      header .mobile_dropdown_menu .menu_item_inner ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 15px; }
        header .mobile_dropdown_menu .menu_item_inner ul li a {
          display: inline-block;
          color: #fff;
          text-decoration: none;
          text-transform: capitalize;
          width: 100%;
          padding: 0.75rem 1.5rem; }
    header .mobile_dropdown_menu .menu_item_inner._visible {
      display: block; }
  header .mobile_dropdown_menu._show {
    display: block; }

#main_bg span {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 1em 0; }

#main_content_1 {
  padding-top: 50px; }

#main_content_2 {
  padding-top: 70px; }

#main_content_3 {
  padding-top: 70px; }
  #main_content_3 .block_content {
    padding: 40px; }

#main_content_4 {
  padding-top: 70px; }
  #main_content_4 .block_content {
    padding: 40px;
    margin-top: -115px; }

#main_content_5 {
  padding-top: 70px; }
  #main_content_5 .block_content {
    padding: 40px; }

#main_content_6 {
  padding: 70px 0; }
  #main_content_6 .block_content {
    padding: 40px; }

footer {
  background-color: #464646;
  padding: 50px 0; }
  footer a {
    margin-right: 15px; }
    footer a:hover {
      text-decoration: none; }
  footer a.footer_link_contacts:hover {
    color: #8F7A4A;
    text-decoration: none; }

#about_content_1, #about_content_2, #about_content_3, #about_content_4 {
  padding-top: 70px;
  padding-bottom: 30px; }

#about_content_5 {
  padding-top: 70px;
  padding-bottom: 70px; }

#offices_blocks {
  padding: 50px 0; }
  #offices_blocks .block_content {
    padding: 40px; }
  #offices_blocks form {
    padding: 20px 0; }
    #offices_blocks form .form-group {
      font-family: Montserrat Regular, sans-serif;
      font-size: 13px; }
      #offices_blocks form .form-group .form-control {
        border-radius: 0; }
    #offices_blocks form button {
      font-size: 13px;
      padding: 5px 35px;
      text-transform: uppercase;
      background-color: #bba36a;
      color: #ffffff; }

#rc_content_1 {
  padding: 50px 0; }
  #rc_content_1 .block_content {
    padding: 40px; }

#rc_content_4 .block_content {
  padding: 40px;
  margin-top: -90px; }
#rc_content_4 a {
  text-decoration: underline; }

#rcr_content_1 {
  padding: 50px 0; }
  #rcr_content_1 .block_content {
    padding: 40px; }
  #rcr_content_1 a {
    font-size: 1.2em;
    text-decoration: underline; }

#emporium_content_2 {
  padding: 50px 0; }
  #emporium_content_2 .block_content {
    padding: 40px; }

#rc_mokki_block, #rc_ozen_block, #rc_selfie_block {
  padding-top: 50px; }
  #rc_mokki_block .block_content, #rc_ozen_block .block_content, #rc_selfie_block .block_content {
    padding: 40px;
    word-wrap: break-word; }

#rc_starbucks_block {
  padding: 50px 0; }
  #rc_starbucks_block .block_content {
    padding: 40px;
    word-wrap: break-word; }

#contacts_page {
  padding: 50px 0; }
  #contacts_page .block_content {
    padding: 40px; }
  #contacts_page form {
    padding: 20px 0; }
    #contacts_page form .form-group {
      font-family: Montserrat Regular, sans-serif;
      font-size: 13px; }
      #contacts_page form .form-group .form-control {
        border-radius: 0; }
    #contacts_page form button {
      font-size: 13px;
      padding: 5px 35px;
      text-transform: uppercase;
      background-color: #bba36a;
      color: #ffffff; }

/* -------------------------------------------------------------------------
   begin Scroll Down Button
 * ------------------------------------------------------------------------- */
.scroll_down {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  outline: none; }

.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box; }

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
/* -------------------------------------------------------------------------
   end Scroll Down Button
 * ------------------------------------------------------------------------- */

/*# sourceMappingURL=styles.css.map */
