$gold: #bba36a;
.bg_gold {
  background-color: $gold !important;
}
.text_gold {
  color: $gold !important;
}
$dark: #4a4a4a;
.bg_grey {
  background-color: $dark !important;
}
.text_grey {
  color: $dark !important;
}
$black: #000000;
.bg_black {
  background-color: $black !important;
}
.text_black {
  color: $black !important;
}
$white: #ffffff;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Light.eot');
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RaleighLtBt';
  src: url('../fonts/raleigh/RaleighCLtBT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Montserrat, sans-serif;
}
.text_font {
  font-size: 13px;
  line-height: 1.5;
}
.title_font {
  font-size: 2.2em;
  font-family: RaleighLtBt, sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 0;
}
.bg_img {
  .bg_img_text {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

    h1 {
      font-size: 2em;
      text-align: center;
      width: 100%;
      color: $gold;
    }
  }
}
.block_content {
  .block_text {
    margin: 20px 0;
    text-align: justify;
  }
  .block_action {
    a {
      text-decoration: underline;
    }
  }
  .block_actionBtn {
    a {
      text-decoration: none !important;
      padding: 5px 15px;
      border: 1px solid;
    }
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;

  .d_t_h {
    height: 140px;
  }
  ul.desktop_menu {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 15px;
      
      a {
        font-size: 13px;
        font-weight: 300;
        color: $gold;

        &:hover {
          color: #8F7A4A;
          text-decoration: none;
        }
      }
      .dropdown_content {
        display: none;
        position: absolute;
        min-width: 160px;
        padding-top: 5px;
        z-index: 1;

        a {
          display: block;
        }
      }
    }
    li.dropdown:hover .dropdown_content {
      display: block;
    }
    li.dropdown:hover .dropBtn {
      color: #8F7A4A;
    }
  }
  ul.lang_items {
    text-transform: uppercase;

    li {
      display: block;
      padding: 0;
    }
  }
  .mobile_menu {
    position: relative;

    .dropdown {
      display: inline-block;
      vertical-align: bottom;
      text-transform: uppercase;

      .btn {
        font-size: 13px;
        font-weight: 300;
        color: $gold;
      }
      .dropdown-menu {
        min-width: inherit;
        font-size: 13px;
        font-weight: 300;

        .dropdown-item {
          color: $gold;
          padding: 4px 12px;
        }
      }
    }
    a#dropdownMenuLink {
      color: $gold;

      &:hover {
        color: $gold;
      }
    }
  }

  .mobile_dropdown_menu {
    display: none;
    position: absolute;
    top: 63px;
    left: 0;
    z-index: 100;
    font-size: 13px;
    min-width: 300px;
    background-color: $gold;
    border-radius: 0;

    .mobile_menu_item {
      padding: 0.75rem 1.5rem;
      display: block;
      width: 100%;
      clear: both;
      color: #fff;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      border: 0;
      cursor: pointer;

      i { float: right}
    }
    .mobile_menu_item._activated {
      i { transform: rotateX(180deg)}
    }
    .menu_item_inner {
      display: none;
      ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 15px;

        li {
          a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
            width: 100%;
            padding: 0.75rem 1.5rem;
          }
        }
      }
    }
    .menu_item_inner._visible {display: block}

  }
  .mobile_dropdown_menu._show { display: block}
}
#main_bg {
  span {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 1em 0;
  }
}

#main_content_1 {
  padding-top: 50px;
}
#main_content_2 {
  padding-top: 70px;
}
#main_content_3 {
  padding-top: 70px;

  .block_content {
    padding: 40px;
  }
}
#main_content_4 {
  padding-top: 70px;

  .block_content {
    padding: 40px;
    margin-top: -115px;
  }

}
#main_content_5 {
  padding-top: 70px;

  .block_content {
    padding: 40px;
  }
}
#main_content_6 {
  padding: 70px 0;

  .block_content {
    padding: 40px;
  }
}
footer {
  background-color: #464646;
  padding: 50px 0;

  a {
    margin-right: 15px;

    &:hover {
      text-decoration: none;
    }
  }
  a.footer_link_contacts {
    &:hover {
      color: #8F7A4A;
      text-decoration: none;
    }
  }
}

#offices_blocks {
  padding: 50px 0;

  .block_content {
    padding: 40px;
  }
  form {
    padding: 20px 0;

    .form-group {
      font-family: Montserrat Regular, sans-serif;
      font-size: 13px;

      .form-control {
        border-radius: 0;
      }
    }
    button {
      font-size: 13px;
      padding: 5px 35px;
      text-transform: uppercase;
      background-color: $gold;
      color: $white;
    }
  }
}

#rc_content_1 {
  padding: 50px 0;
  .block_content {
    padding: 40px;
  }
}

#rc_content_4 {

  .block_content {
    padding: 40px;
    margin-top: -90px;
  }

  a {
    text-decoration: underline;
  }

}
#rcr_content_1 {
  padding: 50px 0;

  .block_content {
    padding: 40px;
  }
  a {
    font-size: 1.2em;
    text-decoration: underline;
  }
}
#emporium_content_2 {
  padding: 50px 0;

  .block_content {
    padding: 40px;
  }
}
#rc_mokki_block {
  padding-top: 50px;

  .block_content {
    padding: 40px;
    word-wrap: break-word;
  }
}
#rc_ozen_block {
  padding-top: 50px;

  .block_content {
    padding: 40px;
    word-wrap: break-word;
  }
}
#rc_selfie_block {
  padding-top: 50px;

  .block_content {
    padding: 40px;
    word-wrap: break-word;
  }
}
#rc_starbucks_block {
  padding: 50px 0;

  .block_content {
    padding: 40px;
    word-wrap: break-word;
  }
}
#contacts_page {
  padding: 50px 0;

  .block_content {
    padding: 40px;
  }
  form {
    padding: 20px 0;

    .form-group {
      font-family: Montserrat Regular, sans-serif;
      font-size: 13px;

      .form-control {
        border-radius: 0;
      }
    }
    button {
      font-size: 13px;
      padding: 5px 35px;
      text-transform: uppercase;
      background-color: $gold;
      color: $white;
    }
  }
}
/* -------------------------------------------------------------------------
   begin Scroll Down Button
 * ------------------------------------------------------------------------- */
.scroll_down {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------
   end Scroll Down Button
 * ------------------------------------------------------------------------- */


